<html>
    <head>
        <title>Growlr</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="../../../css/bootstrap.min.css" rel="stylesheet">
        <link href="../../../css/agency.css" rel="stylesheet">
        <link href="../../../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    </head>

    <body>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Growlr</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a class="page-scroll" href="/{user.getId}/profile">Profile</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input class="form-control" type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-warning ">Submit</button>
            </form>

            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div class="container">
        <div class="row">
          <div class="col-md-4"></div>
          <dic class="col-md-4">
        <h1>Edit {{ beer.getBeerName }}</h1>


        <form action="/{{ user.getId }}/beer/{{ beer.getId }}" method="post">
                <input name="_method" type="hidden" value="patch">
                <label for="beer_name">Enter new Name:</label>
                <input class="form-control" name="beer_name" type="text" value="{{ beer.getBeerName }}">
                <br>

                <label for 'style'>Select a new beer style.</label>
                  <select id = "style" name = "style" type = "text">
                          <option value = "IPA"> IPA</option>
                          <option value = "Pale Ale"> Pale Ale</option>
                          <option value = "Stout"> Stout</option>
                          <option value = "Porter"> Porter</option>
                          <option value = "Amber"> Amber</option>
                          <option value = "Lager"> Lager</option>
                          <option value = "Belgian"> Belgian</option>
                          <option value = "Blonde Ale"> Blonde Ale</option>
                          <option value = "Brown Ale"> Brown Ale</option>
                          <option value = "Pilsner Ale"> Pilsner Ale</option>
                  </select>
                  <br>

                <label>Enter your Brewery's name</label>
                <input class="form-control" id="brewery" name="brewery" type="text" value="{{ beer.getBrewery }}">
                <br>

                <label>Enter your ABV (Alcohol by Volume).</label>
                <input class="form-control" id="abv" name="abv" type="number" value="{{ beer.getAbv }}">
                <br>

                <label>Enter your IBU (Internation Bitterness Units).</label>
                <input class="form-control" id="ibu" name="ibu" type="number" value="{{ beer.getIbu }}">
                <br>

                <label for 'container'>Select a container type to add it to the beer.</label>
                  <select id = "container" name = "container" type = "text">

                          <option value = "Growler"> Growler </option>
                          <option value = "Bottle"> Bottle </option>
                          <option value = "Can"> Can </option>

                  </select>
                  <br>

                  <label>Enter an image path for the beer.</label>
                  <input  class="form-control" id="image" name="image" type="text" value="{{ beer.getImage }}">
                  <br>

                  <button type="submit" class="btn-warning btn-lg">Submit Information</button>
            </form>


        <form action="/{{ user.getId }}/beer/{{ beer.getId }}">
            <button type="submit" class="btn-warning btn-lg">Back</button>
        </form>
      </div>
    </div>
    <div class="col-md-4"></div>
      </div>
    </body>
</html>
