<html>
    <head>
        <title>Growlr - Edit {{ user.getUserName }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="../../../css/bootstrap.min.css" rel="stylesheet">
        <link href="../../../css/agency.css" rel="stylesheet">
        <link href="../../../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    </head>

    <body>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Growlr</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-warning">Submit</button>
            </form>

            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

        <div class="container">
            <h2>{{ beer.getBeerName }}</h2>

            <img src="/../{{ beer.getImage }}" alt="Beer"><br>

            Style: {{ beer.getStyle }}<br>
            ABV (%): {{ beer.getAbv }}<br>
            IBU: {{ beer.getIbu }}<br>
            Container Type: {{ beer.getContainer }}<br>
            Brewery Name: {{ beer.getbrewery }}<br><br>

            <form action="/{{ user.getId }}/drank_beer/{{ beer.getId }}" method="post">
                <button type="submit">Drank It!</button>
            </form>

            {% if stores is not empty %}
                <h3>{{ beer.getBeerName }} is available at the following locations:</h3>
                <ul>
                    {% for store in stores %}
                        <li><a href="/{{ user.getId }}/store/{{ store.getId }}">{{ store.getStoreName }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if user.getUserName == "Admin" %}
                <form action="/{{ user.getId }}/beer/{{ beer.getId }}/edit">
                    <button type="submit">Edit Beer</button>
                </form>

                <form action="/{{ user.getId }}/beer/{{ beer.getId }}" method="post">

                    <label for="store">Store Name</label>
                    <select id = "store_id" name = "store_id" type = "text">
                        {% for store in all_stores %}
                            <option value = "{{ store.getId() }}"> {{ store.getStoreName() }} </option>
                        {% endfor %}
                    </select><br>

                    <button type="submit">Submit</button>
                </form>
            {% endif %}
                {% if reviews is not empty %}

                    {% for review in reviews %}

                        {% if review.getReview != null %}

                            Review
                        <ul>
                            <li>{{ review.getReview }}</li>
                            <li>{{ review.getReviewDate }}</li>
                        </ul>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <form action="/{{ user.getId }}/beers">
                    <button type="submit">Back</button>
                </form>

        </div>
        </body
        </html>
