<html>
    <head>
        <title>Growlr - Edit {{ user.getUserName }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <style>
            .formc{
                border-color: #ddd;
                border-width: 1px;
                border-radius: 4px 4px 0 0;
            }
        </style>
    </head>

    <body style="background:'../../../img/beer.jpg;'">

        <div class="container">

            <h2>Edit Profile</h2>
            <div class="formc">
                <form action="/{{ user.getId }}/user" method="post">
                    <div class="form-group">
                        <label for="user_name">Update your user name:</label>
                        <input name="_method" type="hidden" value="patch">
                        <input type="text" class="form-control" name="user_name" value="{{user.getUserName}}">
                    </div>
                    <div class="form-group">
                        <label for="preferred_style">Update your preferred style</label>
                        <input name="_method" type="hidden" value="patch">
                        <input class="type="text" class="form-control" name="preferred_style" value="{{user.getPreferredStyle}}">
                    </div>
                    <div class="form-group">
                        <label for="region">Update the region you live in</label>
                        <input name="_method" type="hidden" value="patch">
                        <input type="text" class="form-control" name="region" value="{{user.getRegion}}">
                    </div>
                    <p class="help-block">Update your user details.</p>
                    <button type="submit" class="btn btn-default">Submit Changes</button>
                </form>
            </div>
            <form action="/profile" method="get">
                <input name="user_name" type="hidden" value="{{ user.getUserName }}">
                <button type="submit" class="btn btn-default">   Back   </button>
            </form>

            <form action="/user/{{ user.getId }}" method="post">
                <input name="_method" type="hidden" value="delete">
                <button type="submit" class="btn btn-danger">Delete Profile</button>
            </form>
        </div>
    </body>
</html>
