{% extends 'base.html.twig' %}

        {% block main %}
        <div class="container">

            <h2>{{ user.getUserName }}</h2>
            <h5>Region: {{ user.getRegion }}</h5>
            <h5>Preferred Style: {{ user.getPreferredStyle }}</h5>
            <br>

            <h4>My Beer List:</h4>
            {% if user.getBeers is not empty %}
            <ul>
                {% for beer in user.getBeers %}
                    <li>
                        {{ beer.getBeerName }}
                        <a href="/{{ user.getId }}/review/{{ beer.getId }}">Review</a>
                    </li>
                {% endfor %}
            {% else %}
                No beers added yet!
            {% endif %}
            <br><br><br>

            <form action="/{{ user.getId }}/beers" method="get">
                <button type="submit">View Beer List</button>
            </form>

            <form action="/{{ user.getId }}/stores" method="get">
                <button type="submit">View Stores</button>
            </form>

            <form action="/{{ user.getId }}/edit_profile" method="get">
                <button type="submit">Edit Profile</button>
            </form>

            <form action="/" method="get">
                <button type="submit">Logout</button>
            </form>

        </div>
        {% endblock %}
