<html>
    <head>
        <title>Growlr - Edit {{ user.getUserName }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/agency.css" rel="stylesheet">
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    </head>

    <body>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Growlr</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-warning">Submit</button>
            </form>

            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    <div class="container">

        <h3>Store Search</h3>

        <form action="/{{ user.getId }}/search_store" method="get" class="form-inline">
            <div class="form-group">
                <label for="search_field">Store Search</label>

                <select id = "search_field" name = "search_field" type = "text">
                    <option value = "store_name">Store Name</option>
                    <option value = "category"> Category </option>
                    <option value = "region"> Region </option>
                    <option value = "address"> Address </option>
                </select>
            </div>
            <div class="form-group">
                <input id="search_term" name="search_term" type="text" placeholder="Search">

                <button type="submit">Submit</button>
            </div>
        </form>

        <h3>Store Search Results</h3>
        {% for store in search_store %}
        <div>
            <ul>
                <li><a href="/{{ user.getId }}/store/{{ store.getId }}">{{store.getStoreName}}</a><br>
                {{store.getAddress}}<br>
                {{store.getRegion}}<br>
                {{store.getCategory}}</li>
            </ul>
        </div>
        {% endfor %}
    </div>
</body>
</html>
