<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Growlr - Store List</title>
  </head>

  <body>

    <div class="container">

        <form action="/{{ user.getId }}/search_store" method="get" class="form-inline">
            <div class="form-group">
                <label for="search_field">Store Search</label>

                <select id = "search_field" name = "search_field" type = "text">
                    <option value = "store_name">Store Name</option>
                    <option value = "category"> Category </option>
                    <option value = "region"> Region </option>
                    <option value = "address"> Address </option>
                </select>
            </div>
            <div class="form-group">
                <input id="search_term" name="search_term" type="text" placeholder="Search">

                <button type="submit">Submit</button>
            </div>
        </form>

        <h2>Store List</h2>
        {% if stores is not empty %}
            <ul>
                {% for store in stores %}
                    <li><a href="/{{ user.getId }}/store/{{ store.getId }}">{{ store.getStoreName }}</a><br>
                        {{ store.getAddress }}<br>
                        {{ store.getRegion }}<br>
                        {{ store.getCategory }}<br>
                {% endfor %}
            </ul>
        {% else %}
            <p>No stores have been added yet.</p>
        {% endif %}
        <br>

        {% if user.getUserName == "Admin" %}
            <h3>Add a New Store</h3>

            <form action="/{{ user.getId }}/stores" method="post">

                <input id="store_name" name="store_name" type="text" placeholder="Business Name"><br>

                <input id="address" name="address" type="text" placeholder = "Address"><br>

                <label for="region">Region</label>
                <select id = "region" name = "region" type = "text">
                    <option value = "North">North</option>
                    <option value = "Northeast"> Northeast </option>
                    <option value = "Northwest"> Northeast </option>
                    <option value = "Southwest"> Southeast </option>
                    <option value = "Southwest"> Southwest </option>
                </select><br>

                <label for="region">Business Type</label>
                <select id = "category" name = "category" type = "text">
                    <option value = "Bar">Bar</option>
                    <option value = "Bottle Shop">Bottle Shop</option>
                    <option value = "Brewery">Brewery</option>
                    <option value = "Grocery Store">Grocery Store</option>
                    <option value = "Growler Fill">Growler Fill</option>
                </select><br>

                <button type="submit">Submit</button>
            </form>
        {% endif %}


        {% if user.getUserName == "Admin" %}

            <h3>Add a New Store</h3>

            <form action="/{{ user.getId }}/stores" method="post">

                <input id="store_name" name="store_name" type="text" placeholder="Business Name"><br>

                <input id="address" name="address" type="text" placeholder = "Address"><br>

                <label for="region">Region</label>
                <select id = "region" name = "region" type = "text">
                    <option value = "North">North</option>
                    <option value = "Northeast"> Northeast </option>
                    <option value = "Northwest"> Northeast </option>
                    <option value = "Southwest"> Southeast </option>
                    <option value = "Southwest"> Southwest </option>
                </select><br>

                <label for="region">Business Type</label>
                <select id = "category" name = "category" type = "text">
                    <option value = "Bar">Bar</option>
                    <option value = "Bottle Shop">Bottle Shop</option>
                    <option value = "Brewery">Brewery</option>
                    <option value = "Grocery Store">Grocery Store</option>
                    <option value = "Growler Fill">Growler Fill</option>
                </select><br>

                <button type="submit">Submit</button>
            </form>

        {% endif %}


        <form action="/profile" method="get">
            <input name="user_name" type="hidden" value="{{ user.getUserName }}">
            <button type="submit">Back</button>
        </form>

    </div>

  </body>
</html>
