<html>
    <head>
        <title>Growlr - {{ store.getStoreName }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/agency.css" rel="stylesheet">
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    </head>

    <body>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Growlr</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-warning">Submit</button>
            </form>

            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

    <div class="container">
      <div class="row">
      <div class="col-md-6">
        <center>
        <h1>{{ store.getStoreName }}</h1>
        <br>
        <h4>Address : {{ store.getAddress }}</h4><br>
        <h4>Region : {{ store.getRegion }}</h4><br>
        <h4>Category : {{ store.getCategory }}</h4><br>
        </ul>
         </center>
      </div>
        <br>
      <div class="col-md-6">
        <center>
        <h3>Beer List</h3>

        {% if beers is not empty %}
            <ul>
                {% for beer in beers %}
                    <li><a href="/{{ user.getId }}/beer/{{ beer.getId }}">{{ beer.getBeerName }}</a>:  {{ beer.getContainer }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No beers have been added to this store.</p>
        {% endif %}
      </center>
      </div>
      <br>
    </div>
    <br>
      <div class="row">
        <div class="col-md-6">
          <center>
          {% if user.getUserName == "Admin" %}

              <h3>Add a beer to this store</h3>

              <form action="/{{ user.getId }}/store/{{ store.getId }}" method="post">

                  <label for="beer">Beer Name</label>
                  <select id = "beer_id" name = "beer_id" type = "text">
                      {% for beer in all_beers %}
                          <option value = "{{ beer.getId() }}"> {{ beer.getBeerName() }} </option>
                      {% endfor %}
                  </select><br>

                  <button type="submit" class="btn-warning btn-lg">Submit</button>
              </form>
          {% endif %}
        </center>
        </div>
        <br>
        <div class="col-md-6">
          <center>
          <form action="/profile" method="get">
              <input  name="user_name" type="hidden" value="{{ user.getUserName }}">
              <button type="submit" class="btn-warning btn-lg">Back</button>
          </form>
          </center>
        </div>
      </div>
    </div>

  </body>
</html>
